* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: "Microsoft Yahei";
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-family: "Microsoft Yahei";
    line-height: 20px;
    font-size: 14px;
    color: #444;
    overflow-x: auto;
    min-width: 1200px;
    height: 100%;
    background-color: #24242e;
}

article,
aside,
details,
figcaption,
figure,
dialog,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
    display: block
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
sub,
sup,
del,
dfn,
em,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
caption,
tbody,
tfoot,
thead,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

[hidden],
template {
    display: none
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-size: 1em;
    font-family: "Microsoft Yahei";
}

img {
    border: 0;
    vertical-align: middle
}

hr {
    height: 1px;
    border: none;
}

button,
input,
optgroup,
select,
textarea {
    outline: 0;
    background-color: #fff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    -webkit-appearance: none
}

input {
    line-height: normal
}

button {
    overflow: visible
}

select {
    height: auto
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 8px 7px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
    text-align: center;
    font-weight: 400;
    line-height: 1;
    cursor: pointer
}

button input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    padding: 0 6px;
    width: 100%;
    height: 34px;
    border: 1px solid #ddd;
    border-radius: 2px;
    line-height: 20px
}

input[type=checkbox],
input[type=radio] {
    padding: 0
}

input[type=search] {
    padding: 0 10px;
    text-align: left;
    border-radius: 20px
}

input[type=radio] {
    -webkit-appearance: radio
}

input[type=checkbox] {
    -webkit-appearance: none
}

input[type=range] {
    -webkit-appearance: slider-horizontal
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    padding: .35em .625em .75em;
    border: 1px solid silver
}

legend {
    padding: 0;
    border: 0
}

textarea {
    overflow: auto;
    padding: 2px;
    height: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

ol,
ul {
    list-style: none
}

p {
    /* margin-bottom: 10px */
}

a {
    /* color: #c6cac2;*/
    color: #f1f4ef;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

a:active,
a:focus,
a:hover {
    outline: 0
}

.fix:after {
    display: table;
    content: '';
    clear: both
}

b {
    font-weight: normal;
}


/* 分页器 */

.el-carousel__button {
    display: block;
    opacity: 0.6;
    width: 10px !important;
    height: 10px !important;
    background-color: #000000;
    border-radius: 50%;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.el-carousel__indicator.is-active button {
    background-color: #fc2b90;
    opacity: 1;
}